/*Table                             !!! Таблица со списком заказов !!!               */
table.sale-personal-order-list
{
	width:100%;
	/*background-color:#F9FAFB;*/
	border-collapse:collapse;
	font-size:100%;
	color:black;
	background: #E0E0E0;
	border: 1px solid black;
}
  table.sale-personal-order-list-new
{
    width:100%; 
}
.minus, .plus {
width: 10px;
height: 10px;
background: #f2f2f2;
border-radius: 4px;
padding: 3px 5px 3px 5px;
border: 1px solid #ddd;
cursor: pointer;
}
.navstring
{
   font: 12px/18px Arial;
   color: #201E1E; 
   font-style:italic;
}
.navstring a
{
   color: #201E1E; 
   font-style:italic;
}
table.sale-personal-order-list-new td
 {
text-align: center;
vertical-align: middle;
font: 12px/18px Arial;
color: #201E1E;
padding: 4px 0px;
border-bottom: 1px solid #A3ADB5;

}

table.sale-personal-order-list-new th
{     text-align: center;
     font: bold 12px Arial;
     border-bottom: 1px solid #A3ADB5; 
}                                  
/*Table head 
Заголовок списка заказов                 */
table.sale-personal-order-list th
{    
	/*background-image:url(images/table_head.gif);*/
	/*background-repeat:repeat-x;*/
	text-align: left;
	/*color:#25639A;*/
	border: 1px solid black;
	background:#AEAEAE;
}

/* Table cells and heads*/
table.sale-personal-order-list th, table.sale-personal-order-list td
{
	/*border:1px solid #ADC3D5;*/
	border: 1px solid black;
	padding: 3px 5px;
	vertical-align:top;
}

/* Only table cells              Ячейки списка заказов                           */
table.sale-personal-order-list td
{
	border: 1px solid black;
}


/*Filter                                Таблица фильтра                          */
table.sale-personal-order-list-filter-new
{
     font: 12px/18px Arial;
     color: #201E1E;
     background: #F0F0FF;
     margin: auto;
     border: 1px solid #A3ADB5; 
     
}
table.sale-personal-order-list-filter
{
	/*background-color:#F9FAFB;*/
	color:black;
	background: #E0E0E0;
	font-size:100%;
	border-collapse:collapse;
	border: 1px solid black;
}
/*Filter                                Верх и низ фильтра                          */

table.sale-personal-order-list-filter th
{
	/*background-image:url(images/table_head.gif);*/
	/*background-repeat:repeat-x;*/
	background:#AEAEAE;
	color: black;
	text-align: center;
	font-size:100%;
	/*color:#25639A;*/
	border: 1px solid black;
}

table.sale-personal-order-list-filter td, table.sale-personal-order-list-filter th
{
	padding:3px;
	/*border:1px solid #ADC3D5;*/
	border: 1px solid black;
}

table.sale-personal-order-list-filter td
{
	vertical-align: top;
	border: 1px solid black;
}